#all-product {
  margin-top: 70px;
}
.all-product-title {
  text-align: center;
}

.all-product-title h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.all-product-title p {
  font-size: 14px;
}

.all-product-item {
  margin-top: 20px;
}

.all-product-item .grid-container-collection {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.all-product-item .product-item {
  display: block;
  position: relative;
  height: 100%;
  background: #fff;
  padding: 0px 24px;
}

.all-product-item .product-item-top img {
  width: 100%;
  height: auto;
}
.all-product-item .product-item-top {
  position: relative;
}
.all-product-item .product-item-top .box-new {
  border: 1px solid black;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
}
.all-product-item .product-item-top .box-new p {
  margin-bottom: 0px;
  font-size: 13px;
  padding: 2px 5px;
}
.all-product-item .product-item-content {
  padding: 10px;
}
.all-product-item .product-item-content .product-item-content-tilte {
  text-align: center;
  font-size: 14px;
}
.all-product-item .product-item-content .product-item-content-tilte p {
  font-weight: 700;
}
.all-product-item .product-item-content button {
  background-color: black;
  color: white;
  border: none;
  padding: 7px 10px;
  width: 40%;
  margin: 0px auto;
  font-size: 14px;
}

ul.product-item-choose-color,
ul.product-item-choose-size {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 10px;
}
ul.product-item-choose-color li,
ul.product-item-choose-size li {
  flex-basis: 10%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0px 5px;
}

ul.product-item-choose-size {
  height: 30px;
}
ul.product-item-choose-size li p {
  margin: 0px;
  font-size: 13px;
  font-weight: 600;
}
ul.product-item-choose-size li {
  border-radius: 0%;
  /* border: 1px solid #8e8d8d;
  padding: 4px 7px; */
}
.active-size {
  border-radius: 0%;
  border: 1px solid #8e8d8d;
  padding: 4px 7px;
}
ul.product-item-choose-color li img {
  /* width: 30px;
  height: 30px; */
  border-radius: 50%;
}

ul.product-item-choose-color li img:hover {
  border: 1px solid #8e8d8d;
  padding: 1px;
}
.active-color {
  border: 1px solid #8e8d8d;
  padding: 1px;
}

.hidden {
  display: none;
}
.product-item:hover .product-box {
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
}
.product-item:hover .hidden {
  display: block;
}
