#innerfooter {
  padding: 20px 0px 40px;
}
#innerfooter h4 {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 13px;
  font-weight: 600;
}
#innerfooter .hotline h5 {
  font-size: 25px;
  line-height: 21px;
  margin-bottom: 5px;
}

#innerfooter .hotline span {
  font-size: 13px;
  margin: 5px 0 0 0;
  font-weight: 400;
}

#innerfooter a.store_bellow_link {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  color: #797878;
  text-decoration: underline;
  transition: opacity 150ms linear, color 150ms linear;
}

#innerfooter a.store_bellow_link:hover {
  color: black;
  text-decoration: none;
}

#innerfooter a.store_bellow_link i {
  font-size: 10px;
  text-decoration: none;
}
#innerfooter ul.nav-social {
  padding: 0;
}
#innerfooter li.social {
  margin-right: 20px;
  margin-top: 10px;
}
#innerfooter li.social i {
  font-size: 20px;
}

#innerfooter li.social a:hover i.fa-facebook {
  color: blue;
}
#innerfooter li.social a:hover i.fa-youtube {
  color: red;
}
#innerfooter li.social a:hover i.fa-instagram {
  color: #7b472c;
}
#footer .accordion-header,
#footer .accordion-body {
  background-color: #f1f1f1;
  padding: 6px 105px;
}
#footer .accordion-button {
  background-color: transparent;
  box-shadow: none;
  width: auto;
  padding: 16px 0px;
  font-size: 14px;
  font-weight: 600;
}

#footer .accordion-body ul {
  padding: 0;
}
#footer .accordion-body ul li {
  margin-bottom: 8px;
}
#footer .accordion-body ul li a {
  font-size: 14px;
  font-weight: 400;
}
